#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    /* background-color: rgba(248, 248, 248, 1); */
    border-bottom-width: 1px;
    background-image:  url("../images/grey banner_img.jpg")
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(119, 119, 119, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(231, 231, 231, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #888;
}

@media (min-width: 768px){
.navbar-collapse.collapse {
   
    height: 105px !important;
    /* background: red; */
}
}

.header_top {
    background: black;
    color: white; 
       height: 23px;
}

.header_top_text{
    font-size: 11px;
    padding-top: 4px;
    padding-left: 21px;
}
.languageoptions{text-align: right;}
/* .languageoptions li{display: inline-block;padding: 10px 20px;font-size: 16px;text-transform: uppercase;float: right;}
.languageoptions a{text-decoration: none;} */
.languageoptions p{color: #ffffffb5;font-size: 12px;padding-top: 3px;}
.languageoptions select{background-color: #484747;border: none;}
.social_icons i{padding: 0px 4px;color: #ffffffb5;font-size: 10px;}





.dropbtn {
    background-color: transparent;
    color: white;
    padding: 6px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #eee;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color:black !important;
    text-align: left;
}

.dropdown-content a {
    color: black !important;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;color:#fff !important}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #139c13;
    border-radius: 5px;
    color:black;
}




.lia {
    /* border: 1px solid green;
    background: green; */
    padding: 7px 16px;
    /* border-radius: 5px; */
}
.list_menu{text-align: center;}
.list_menu li{list-style-type: none;list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    }
    .list_menu li a{color: #fff;}
    .list_menu li a:hover{background: linear-gradient(#139c13 , #035703);
        color: black;border-radius: 5px;}

.class_governance{color:#286f28;font-weight:800}
 .capitalize { text-transform: capitalize; }    