<section>
    <div class="loginbg">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-4 col-lg-4 col-lg-offset-4 col-md-offset-4  col-md-4 col-md-offset-4 col-sm-offset-3  col-sm-6 col-sm-offset-3 col-xs-offset-2  col-xs-8 col-xs-offset-4 loginpageTop ">
                    <div class="loginPageStyle" >

                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" data-target="#home">Home</a></li>
                            <li><a data-toggle="tab" data-target="#menu1">Menu 1</a></li>
                            <li><a data-toggle="tab" data-target="#menu2">Menu 2</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                <h3>HOME</h3>
                                <p>Some content.</p>
                            </div>
                            <div id="menu1" class="tab-pane fade">
                                <h3>Menu 1</h3>
                                <p>Some content in menu 1.</p>
                            </div>
                            <div id="menu2" class="tab-pane fade">
                                <h3>Menu 2</h3>
                                <p>Some content in menu 2.</p>
                            </div>
                        </div>

                        <!--<ul class="nav nav-tabs">
                            <li class="active addcolor ">
                                <a data-toggle="tab" data-target="#signup" >

                                    Sign Up
                                    <div class="brlr"></div>
                                </a>


                            </li>

                            <li class="addcolor">
                                <a data-toggle="tab" data-target="#login" >

                                    Sign In
                                    <div class="brlr1"></div>
                                </a>

                            </li>



                        </ul>

                        <div class="tab-content">

                            <div class="tab-pane fade in active" id="signup"  ng-controller="LoginController">
                                <form data-toggle="validator" role="form" ng-submit="register()" id="signUpReset" novalidate>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="alreadyreg text-center" >
                                                Create New Account
                                            </div>
                                            <div class="brbtm"></div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label>Name</label><br/>
                                                &lt;!&ndash;  &lt;!&ndash;   <input type="text" data-toggle="tooltip" data-placement="top" pattern="[A-Za-z]{1,20}" title="Enter Your Name Max 20 Character" tabindex="0" ng-model="user.name"  maxlength="20" class="form-control mb10" data-toggle="tooltip" data-placement="top" placeholder="First Name" required />&ndash;&gt;&ndash;&gt;
                                                <input type="text" id="firstname" data-toggle="tooltip" data-placement="top"  title="Enter your first name (Between 3 to 20 Characters)" tabindex="0" ng-model="userregister.name" maxlength="20" class="form-control mb10" data-toggle="tooltip" data-placement="top" placeholder="Enter Full Name" required />
                                            </div>
                                        </div>
                                        &lt;!&ndash;<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label>Name</label><br/>
                                                <input type="text" data-toggle="tooltip" id="lastname" data-placement="top"  title="Enter your last name (Between 1 to 20 Characters)" tabindex="0" ng-model="userregister.lname"  maxlength="20" class="form-control mb10" data-toggle="tooltip" data-placement="top" placeholder="Last Name" required />
                                            </div>
                                        </div>&ndash;&gt;

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label>Email</label><br/>
                                                <input type="email" id="useremail" class="form-control mb10" ng-model="userregister.email" data-toggle="tooltip" data-placement="top" title="Enter valid email address"   placeholder="Enter Email Id" required />
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label>Mobile Number</label><br/>
                                                <input type="text" id="mobile" class="form-control mb10" data-toggle="tooltip" data-placement="top"
                                                       title="Phone number starting with 7-9 and remaining 9 digit with 0-9"
                                                       pattern="[7-9]{1}[0-9]{9}" minlength="10" maxlength="10" ng-model="userregister.phone"
                                                       name="mobile" placeholder="Enter Mobile Number" pattern="/^[0-9]{1,10}$/" trim="false"  autocomplete="off" required />
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label>Password</label><br/>
                                                &lt;!&ndash; &lt;!&ndash;<input type="password" name="pwd1" id="password1" data-toggle="tooltip" data-placement="top" class="form-control mb10" title="Minimum Lenght - 4 characters" ng-model="user.password"  minlength="4" maxlength="20" placeholder="Password" onchange="form.pwd2.pattern = this.value;" required/>&ndash;&gt;&ndash;&gt;
                                                <input type="password" id="signup-password" name="pwd1" data-toggle="tooltip" data-placement="top" class="form-control mb10" title="Minimum Lenght 8 characters" ng-model="userregister.password"  minlength="8" maxlength="8" placeholder="Enter Password" required onchange="form.pwd2.pattern = this.value;" />
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label>Confirm Password</label><br/>
                                                &lt;!&ndash; &lt;!&ndash;<input type="password" name="pwd2" id="password2" data-toggle="tooltip" data-placement="top" title="Confirm Your Password" class="form-control mb10" ng-model="password" placeholder="Password" required/>&ndash;&gt;&ndash;&gt;
                                                <input type="password" name="pwd2" id="confirmPassword" data-toggle="tooltip" data-placement="top" title="Confirm Password" class="form-control mb10" ng-model="password" placeholder="Re Entered Password" required/>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group ls">
                                                <button class="btn btn-default backOrange center-block btn-type1 f-size18 text-capitalize font_family_bs m-btm20">Sign up</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>


                            <div class="tab-pane fade "  id="login"  ng-controller="LoginController">

                                <form  novalidate data-toggle="validator" role="form" id="loginReset" novalidate>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="alreadyreg text-center" >
                                                &lt;!&ndash; Login&ndash;&gt;
                                            </div>
                                            <div class="brbtm"></div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label>Email / Phone Number</label>
                                                <input name="username" id="username" type="text" tabindex="0" class="form-control mb10"   ng-model="userlogin.email" data-toggle="tooltip" data-placement="top" title="Enter valid email or mobile number" placeholder="Enter EmailId / Phone Number" required />
                                                &lt;!&ndash;<input type="email" class="form-control mb10" ng-model="user.email" data-toggle="tooltip" data-placement="top" title="Enter Your Email Address" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9]+\.[a-zA-Z]{2,5}(\.[a-zA-Z]{2,5}){0,1}"  placeholder="Email" required />&ndash;&gt;
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label> Password</label>
                                                <input type="password" name="password" id="password" tabindex="0"  ng-model="userlogin.password" data-toggle="tooltip" data-placement="bottom" title="Enter Your Password" tabindex="2" class="form-control mb10" placeholder="Enter Password" required />
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                &lt;!&ndash;<a class="text-right pull-left color-fff f-size14 text-decnone p-tb10 cursor-pointer text-capitalize" data-toggle="modal" data-target="#myModal" data-dismiss="modal"><font color="#a52a2a">signup</font></a>&ndash;&gt;
                                                <a class="pull-right color-fff f-size14 text-decnone m-right5 cursor-pointer text-capitalize m-btm20" ng-click="forgotPasswordSubmit()" data-toggle="modal">
                                                    <font color="#f0ad4e"> forgot password? </font></a>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 col-md-12 col-md-12 col-sm-12 col-xs-12">

                                            <div class="form-group ls ">
                                                &lt;!&ndash;  <button type="button" class="center-block font_family_bs">Submit</button></div>
                                             &ndash;&gt; <button type="submit" tabindex="3" class="btn btn-default backOrange center-block btn-type1 f-size18 text-capitalize font_family_bs m-btm20" ng-click="login()" >Sign In</button>
                                            </div>


                                        </div>
                                    </div>
                                </form>
                            </div>


                        </div>-->

                    </div>

                </div>

            </div>
        </div>
    </div>

</section>