<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Land And Asset</span></li>
                <li class="breadcrumb-item active"><span lang="en">Asset Risks</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">


        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span> <span lang="en">Asset Risks</span></div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme">
                        <div class="addScheme pull-right">
                          <!--  <button class="btn btn-default m-right5">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>-->
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#assetRisks')">
                                <span class="glyphicon glyphicon-share"></span> <span lang="en">Export to Excel</span>
                            </button>
                        <button class="btn btn-success pull-right" data-toggle="modal" ng-click="removeMessaageInAdd()" data-target="#addAssetRiskPopup"><span lang="en">Add Asset Risk</span></button>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <table id="assetRisks" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                    <table datatable="ng" class="hover table table-bordered table-striped" id="table1">
                        <thead>
                        <tr>
                            <th lang="en">Asset Risks</th>
                            <th lang="en">Status</th>
                            <th lang="en">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="assetRisks in assetRiskList">

                            <td class="text-capitalize">{{assetRisks.name}}</td>
                            <td class="text-capitalize">{{assetRisks.status}}</td>
                            <td class="text-capitalize">
                                <button class="btn btn-primary" ng-click="editAssetRiskPopupInfo(assetRisks)"><span class="glyphicon glyphicon-pencil"></span></button>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="addAssetRiskPopup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Add Asset Risk</h4>
            </div>
            <form role="form" name="myform" ng-submit="addAssetRisks()">
                <div class="row schemForms">

                    <div class="modal-body">

                        <div  ng-if="errorMessage" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 color-red text-center">
                            {{errorMessageData}}</div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red">*</span><span lang="en">Asset Risk</span>:</label>
                            <input type="text" placeholder="Enter Asset Risk" class="form-control" ng-model="assetRisk.name" required />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red">*</span><span lang="en">Status</span>:</label>
                            <select ng-model="assetRisk.status" data-style="btn-primary" data-placement="Select Status" required>
                                <option value="" selected>Select Status</option>
                                <option value="Active">Active</option>
                                <option value="In Active">In Active</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                    <button type="reset" class="btn btn-info" lang="en">Reset</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="editAssetRiskPopup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Asset Risk</h4>
            </div>
            <form role="form" name="myform" ng-submit="editAssetRisks()">
                <div class="row schemForms">
                    <div class="modal-body">
                        <div  ng-if="errorMessage" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 color-red text-center">
                            {{errorMessageData}}</div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red">*</span><span lang="en">Asset Risk</span>:</label>
                            <input type="text" placeholder="Asset Risk" class="form-control" ng-model="editAssetRiskData.name" required />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red">*</span><span lang="en">Status</span>:</label>
                            <select ng-model="editAssetRiskData.status" data-style="btn-primary" data-placement="Select Status" required>
                                <option value="Active" selected>Active</option>
                                <option value="In Active">In Active</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="addAssetSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully -' <b>{{assetRisk.name}}</b> '  is Created.</div>
            </div>
        </div>

    </div>
</div>

<div id="editAssetSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage text-capitalize">Successfully -' <b>{{editAssetRiskData.name}}</b> '  is Updated.</div>
            </div>
        </div>

    </div>
</div>


