<div class="container-fluid" style="background:#f6f7f9;min-height: 430px;" >
    <div class="col-lg-offset-2 col-lg-8 col-lg-offset-2" style="padding:10px">
        <h3>Employee Details </h3>


        <div style="background:#e84c3d;">
            <h3 style="padding: 6px;font-size: 20px;color: white;">Employee Details</h3>
        </div>



        <div style="border:1px solid #ddd;padding: 10px;margin-top: -10px;background: white;">
            <div class="row">



                <div class="col-lg-6 m-top10">
                    <input type="text" class="form-control width95" placeholder="First Name">
                </div>
                <div class="col-lg-6 m-top10">
                    <input type="text" class="form-control width95" placeholder="Last Name">
                </div>

                <div class="col-lg-6 m-top10">
                    <input type="text" class="form-control width95" placeholder="Date Of Birth">
                </div>
                <div class="col-lg-6 m-top10">
                    <select class="form-control width95">
                        <option>Sex</option>
                        <option>Male</option>
                        <option>Female</option>
                        <option>Others</option>
                    </select>
                </div>


                <div class="col-lg-6 m-top10">
                    <input type="text" class="form-control width95" placeholder="Phone Number">
                </div>

                <div class="col-lg-6 m-top10  m-btm10">
                    <input type="text" class="form-control width95" placeholder="Date Of Joining">
                </div>

                <div class="col-lg-12 m-top10">
                    <h4>Present Address</h4>
                </div>

                <div class="col-lg-6 m-top10">
                    <input type="text" class="form-control width95" placeholder="Plot">
                </div>

                <div class="col-lg-6 m-top10  m-btm10">
                    <input type="text" class="form-control width95" placeholder="Area">
                </div>

                <div class="col-lg-6 m-top10">
                    <select class="form-control width95">
                        <option>City</option>
                        <option>Hyderabad</option>
                        <option>Vizag</option>
                        <option>Warangal</option>
                    </select>
                </div>

                <div class="col-lg-6 m-top10  m-btm10">
                    <select class="form-control width95">
                        <option>State</option>
                        <option>Telangana</option>
                        <option>Andhrapradesh</option>
                        <option>Tamilnadu</option>
                    </select>
                </div>

                <div class="col-lg-6 m-top10  m-btm10">
                    <input type="text" class="form-control width95" placeholder="Zipcode">
                </div>



                <div class="col-lg-12 m-top10">
                    <h4>Permanent Address</h4>
                </div>

                <div class="col-lg-6 m-top10">
                    <input type="text" class="form-control width95" placeholder="Plot">
                </div>

                <div class="col-lg-6 m-top10  m-btm10">
                    <input type="text" class="form-control width95" placeholder="Area">
                </div>

                <div class="col-lg-6 m-top10">
                    <select class="form-control width95">
                        <option>City</option>
                        <option>Hyderabad</option>
                        <option>Vizag</option>
                        <option>Warangal</option>
                    </select>
                </div>

                <div class="col-lg-6 m-top10  m-btm10">
                    <select class="form-control width95">
                        <option>State</option>
                        <option>Telangana</option>
                        <option>Andhrapradesh</option>
                        <option>Tamilnadu</option>
                    </select>
                </div>

                <div class="col-lg-6 m-top10  m-btm10">
                    <input type="text"  class="form-control width95" placeholder="Zipcode">
                </div>


            </div>
        </div>





        <div class="btn_p m-btm10">
            <button style="padding: 6px 30px;" class="btn grievance_btn">Submit</button>&emsp;
            <button class="btn cancel_btn">Cancel</button>
        </div>



    </div>
</div>