<div class="breadcrumbArea" ng-if="showEmployee">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">User Administration</span></li>
                <li class="breadcrumb-item active"><span lang="en">Employee List</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="breadcrumbArea" ng-if="createEmployee">

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active" lang="en">User Administration</li>
                <li class="breadcrumb-item"><a ng-click="clickToView()"><span lang="en">Employee List</span></a></li>
                <li class="breadcrumb-item active" lang="en">Add Employee List</li>
            </ol>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
            <!--<a  ng-click="clickToBack()"> <span class="glyphicon glyphicon-hand-left"></span> Back</a>-->
            <a ng-click="clickToView()" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn" lang="en">Go Back</span>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>

<div class="breadcrumbArea" ng-if="editEmployee">

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active" lang="en">User Administration</li>
                <li class="breadcrumb-item"><a ng-click="clickToView()"><span lang="en">Employee List</span></a></li>
                <li class="breadcrumb-item active" lang="en">Edit Employee List</li>
            </ol>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
            <!--<a  ng-click="clickToBack()"> <span class="glyphicon glyphicon-hand-left"></span> Back</a>-->
            <a ng-click="clickToView()" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn" lang="en">Go Back</span>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>

<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">

        <div class="" ng-if="showEmployee">

            <div class="row">
            <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Employee List</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme">
                        <button class="btn btn-success pull-right" ng-click="showCreateEmployee()" lang="en">Create Employee </button>
                        <button class="btn btn-default m-right5 pull-right" ng-click="exportToExcel('#employeeExcel')" lang="en">
                            <span class="glyphicon glyphicon-share"></span> Export to Excel
                        </button>
                        <button class="btn btn-default m-right5 pull-right" ng-click="importExcel()" lang="en">
                            <span class="glyphicon glyphicon-share"></span> Import Excel
                        </button>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Employee List</div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme">
                            <button class="btn btn-success pull-right" ng-click="showCreateEmployee()" lang="en">Create Employee </button>
                            <button class="btn btn-default m-right5 pull-right" ng-click="exportToExcel('#employeeExcel')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                            <button class="btn btn-default m-right5 pull-right" data-toggle="modal" data-target="#exportData"  lang="en">
                                <span class="glyphicon glyphicon-share"></span> Import to Excel
                            </button>
                        </div>
                    </div>
                    <div class="clearfix visible-block"></div>
                    <hr />
                </div>

                <table id="employeeExcel" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                    <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="hover table table-bordered table-striped" id="table1">
                        <thead>
                        <tr>
                            <th lang="en">Employee Id</th>
                            <th lang="en">Name</th>
                            <th lang="en">Designation</th>
                            <th lang="en">Work Number</th>
                            <th lang="en">Email</th>
                            <th lang="en">Department</th>
                            <th lang="en">Employee Type</th>
                            <th lang="en">Status</th>
                            <th lang="en">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="employee in employeeList">
                            <td class="text-capitalize">{{employee.employeeId}}</td>
                            <td>{{employee.name}}</td>
                            <td>{{employee.designation}}</td>
                            <td>{{employee.workMobile}}</td>
                            <td >{{employee.email}}</td>
                            <td>{{employee.department}}</td>
                            <td>{{employee.employeeType}}</td>
                            <td>{{employee.status}}</td>
                            <td>
                                <button class="btn btn-primary" ng-click="editEmployeeData(employee)"><span class="glyphicon glyphicon-pencil"></span></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        </div>

        <div class="" ng-if="createEmployee">

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Create Employee</div>
                        </div>
                        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="projectName cursorPointer"> <a  ng-click="clickToView()"> <span class="glyphicon glyphicon-hand-left"></span> Back</a> </div>

                        </div>-->

                    </div>
                    <div class="clearfix visible-block"></div>
                    <hr />
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="schemForms">
                        <form class="simple-form" ng-submit="createEmployeeButton()">
                            <div class="row">
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center color-red" ng-show="empCreationError">
                                    {{createEmpError}} <hr class="m-tb10" />
                                </div>
                                <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <label lang="en"> <span class="color-red f-bold f-left">*</span>Employee Id</label>
                                    <input type="text" class="form-control" ng-model="addEmployee.employeeId" placeholder="Enter Employee Id"  maxlength="20"  title="Enter Employee Id"  data-toggle="tooltip" data-placement="top" required autocomplete="off"/>
                                </div>
                                <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <label lang="en"> <span class="color-red f-bold f-left">*</span>Employee First Name</label>
                                    <input type="text" class="form-control" ng-model="addEmployee.firstName" placeholder="Enter Employee First Name" maxlength="30"  title="Enter Employee First Name - Max with 30 Characters"  data-toggle="tooltip" data-placement="top" required autocomplete="off"/>
                                </div>
                                <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <label lang="en"> <span class="color-red f-bold f-left"></span>Employee Last Name</label>
                                    <input type="text" class="form-control" ng-model="addEmployee.lastName" placeholder="Enter Employee Last Name" maxlength="30" title="Enter Employee Last Name - Max with 30 Characters"  data-toggle="tooltip" data-placement="top"  autocomplete="off" />
                                </div>
                                <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <label lang="en"> <span class="color-red f-bold f-left">*</span>Display Name</label>
                                    <input type="text" class="form-control" ng-model="addEmployee.name" placeholder="Enter Display Name"  maxlength="30"  title="Enter Display Name - Max with 30 Characters"  data-toggle="tooltip" data-placement="top" required autocomplete="off"/>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <label lang="en"> <span class="color-red f-bold f-left">*</span>Designation</label>
                                    <select ng-model="addEmployee.designation" data-style="btn-primary" required>
                                        <option value="">Select Designation</option>
                                        <option ng-repeat="designation in designationList" value="{{designation.name}}">{{designation.name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <label lang="en"> <span class="color-red f-bold f-left">*</span>Department</label>
                                    <select ng-model="addEmployee.department" data-style="btn-primary" required>
                                        <option value="">Select Department</option>
                                        <option ng-repeat="department in departmentList" value="{{department.name}}">{{department.name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <label lang="en"> <span class="color-red f-bold f-left">*</span>Employee Type</label>
                                    <select ng-model="addEmployee.employeeType" data-style="btn-primary" required>
                                        <option value="">Select Employee Type</option>
                                        <option ng-repeat="employee in employeeTypesList" value="{{employee.name}}">{{employee.name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <label lang="en"> <span class="color-red f-bold f-left">*</span>Status</label>
                                    <select ng-model="addEmployee.status" data-style="btn-primary" required>
                                        <option value="">Select Status</option>
                                        <option value="Active">Active</option>
                                        <option value="In Active">In Active</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <label lang="en"> <span class="color-red f-bold f-left">*</span>Mobile Number</label>
                                    <input type="text" class="form-control" ng-model="addEmployee.mobile" valid-number placeholder="Enter Mobile Number" title="Enter  Mobile Number" minlength="10" maxlength="10"  data-toggle="tooltip" data-placement="top"  autocomplete="off" required/>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <label lang="en"> <span class="color-red f-bold f-left"></span>Work Number</label>
                                    <input type="text" class="form-control" ng-model="addEmployee.workMobile" valid-number placeholder="Enter Work Number"  title="Enter Work number" minlength="10" maxlength="10" title="Enter Work number" data-toggle="tooltip" data-placement="top" autocomplete="off" />
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <label lang="en"> <span class="color-red f-bold f-left">*</span>Email</label>
                                    <input type="email" class="form-control" ng-model="addEmployee.email" placeholder="Enter Email" title="Enter Email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9]+\.[a-zA-Z]{2,5}(\.[a-zA-Z]{2,5}){0,1}"  data-toggle="tooltip" data-placement="top"  autocomplete="off" required/>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <label lang="en"> <span class="color-red f-bold f-left">*</span>Password</label>
                                    <input type="password" class="form-control" ng-model="addEmployee.password" placeholder="Enter Password" minlength="4" maxlength="20" title="Enter Password" data-toggle="tooltip" data-placement="top"  autocomplete="off" required/>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <label lang="en"> <span class="color-red f-bold f-left">*</span>Confirm Password</label>
                                    <input type="password" class="form-control" ng-model="addEmployee.confirmPassword" minlength="4" maxlength="20" placeholder="Enter Confirm Password"  title="Enter Confirm Password" data-toggle="tooltip" data-placement="top"  autocomplete="off" required/>
                                </div>
                                <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                                    <button type="reset" class="btn btn-info" lang="en">Reset</button>
                                    <button class="btn btn-default" ng-click="clickToView()" lang="en">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

        <div class="" ng-if="editEmployee">

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                           <div class="text-center color-red f-bold" ng-show="empUpdationError">{{updateEmpError}}</div>
                            <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Edit Employee</div>
                        </div>
                    </div>
                    <div class="clearfix visible-block"></div>
                    <hr />
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="schemForms">
                        <form class="simple-form" ng-submit="editEmployeeButton()">
                            <div class="row">
                                <!--<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center color-red" ng-show="empUpdationError">
                                    {{updateEmpError}} <hr class="m-tb10" />
                                </div>-->
                                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <label lang="en"> <span class="color-red f-bold f-left" >*</span>Employee Id</label>
                                    <input type="text" class="form-control" ng-model="editEmployeeDetails.employeeId" required  minlength="1" maxlength="20" ng-disabled="editEmployeeDetails.employeeId" placeholder="Enter Employee Id" />
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                   <label lang="en"> <span class="color-red f-bold f-left">*</span>Display Name</label>
                                    <input type="text" class="form-control" ng-model="editEmployeeDetails.name" required minlength="3" maxlength="30" placeholder="Enter Display Name" />
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                   <label lang="en"> <span class="color-red f-bold f-left">*</span>Employee First Name</label>
                                    <input type="text" class="form-control" ng-model="editEmployeeDetails.firstName" required minlength="3" maxlength="30" placeholder="Enter Employee First Name" />
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                   <label lang="en"> <span class="color-red f-bold f-left"></span>Employee Last Name</label>
                                    <input type="text" class="form-control" ng-model="editEmployeeDetails.lastName" placeholder="Enter Employee Last Name" />
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                   <label lang="en"> <span class="color-red f-bold f-left">*</span>Mobile Number</label>
                                    <input type="text" class="form-control" ng-model="editEmployeeDetails.mobile" valid-number required minlength="10" maxlength="10" placeholder="Enter Phone Number" />
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                   <label lang="en"> <span class="color-red f-bold f-left"></span>Work Number</label>
                                    <input type="text" class="form-control" ng-model="editEmployeeDetails.workMobile" valid-number minlength="10" maxlength="10" placeholder="Enter Phone Number" />
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                   <label lang="en"> <span class="color-red f-bold f-left" disabled="disabled">*</span>Email</label>
                                    <input type="email" class="form-control" ng-model="editEmployeeDetails.email" required placeholder="Enter Email" ng-disabled="editEmployeeDetails.email" />
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                   <label lang="en"> <span class="color-red f-bold f-left">*</span>Designation</label>
                                    <select ng-model="editEmployeeDetails.designation" data-style="btn-primary" required>
                                        <option value="">Select Designation</option>
                                        <option ng-repeat="designation in designationList" ng-selected="editEmployeeDetails.designation == designation.name" value="{{designation.name}}">{{designation.name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                   <label lang="en"> <span class="color-red f-bold f-left">*</span>Department</label>
                                    <select ng-model="editEmployeeDetails.department" data-style="btn-primary" required>
                                        <option value="">Select Department</option>
                                        <option ng-repeat="department in departmentList" ng-selected="editEmployeeDetails.department ==department.name" value="{{department.name}}">{{department.name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                   <label lang="en"> <span class="color-red f-bold f-left">*</span>Employee Type</label>
                                    <select ng-model="editEmployeeDetails.employeeType" data-style="btn-primary" required>
                                        <option value="">Select Employee Type</option>
                                        <option ng-repeat="employee in employeeTypesList" ng-selected="editEmployeeDetails.employeeType == employee.name" value="{{employee.name}}">{{employee.name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                   <label lang="en"> <span class="color-red f-bold f-left">*</span>Status</label>
                                    <select ng-model="editEmployeeDetails.status" data-style="btn-primary" required>
                                        <option value="">Select Status</option>
                                        <option value="Active">Active</option>
                                        <option value="In Active">In Active</option>
                                    </select>
                                </div>
                                <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <button type="submit" class="btn btn-success" lang="en">Update</button>
                                    <button class="btn btn-default" ng-click="clickToView()" lang="en">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="" ng-if="importedEmployee">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Imported Data</div>
                        </div>

                    </div>
                    <div class="clearfix visible-block"></div>
                    <hr />
                </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                    <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="hover table table-bordered table-striped" id="table1">
                        <thead>
                        <tr>
                            <th lang="en">Employee Id</th>
                            <th lang="en">Name</th>
                            <th lang="en">Designation</th>
                            <th lang="en">Work Number</th>
                            <th lang="en">Email</th>
                            <th lang="en">Department</th>
                            <th lang="en">Employee Type</th>
                            <th lang="en">Status</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="employee in importedEmployeeData">
                            <td class="text-capitalize">{{employee.EmployeeId}}</td>
                            <td>{{employee.EmployeeDisplayName}}</td>
                            <td>{{employee.EmployeeDesigantion}}</td>
                            <td>{{employee.WorkNumber}}</td>
                            <td >{{employee.EmployeeEmail}}</td>
                            <td>{{employee.EmployeeDepartment}}</td>
                            <td>{{employee.EmployeeType}}</td>
                            <td>{{employee.errorMessage}}</td>

                          <!--  <td>
                                <button class="btn btn-primary" ng-click="editEmployeeData(employee)"><span class="glyphicon glyphicon-pencil"></span></button>
                            </td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

<div id="addEmployeeSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h5>Successfully -' <b>{{addEmployee.employeeId}}</b> ' with '<b>{{addEmployee.name}}</b>'  is Created.</h5>
            </div>
        </div>
        <!--<div class="modal-footer">
            <button ng-click="addEmployeeSuccessModal()" class="btn btn-success width120">OK</button>
        </div>-->
    </div>
</div>
<div id="editEmployeeSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess color-green">
                <div class="sMessage">Successfully Employee is Update.</div>
            </div>
        </div>
        <!--<div class="modal-footer">
            <button ng-click="editEmployeeSuccessModal()" class="btn btn-success width120">OK</button>
        </div>-->
    </div>
</div>


<div id="exportData" class="modal fade" role="dialog" >
    <div class="modal-dialog  modal-md">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"  lang="en">Import to Excel</h4>
        </div>
        <div class="modal-content">


            <div class="modal-body row text-center modalSuccess color-green">
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label lang="en"><span class="color-red f-bold f-left"></span>Employee file(.CSV)</label>
                    <button lang="en" class="btn btn-success" ngf-select="uploadFiles($files)"  ngf-accept="">Upload Employee File</button>
                    <div ng-show="uploadNitif">
                        <h4>Uploaded file is:</h4>
                        <table class="table" >
                            <thead>
                            <tr>
                                <th>File Name</th>
                                <!--<th>Comment</th>-->
                                <th class="width20">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr  ng-repeat="f in uploadFileURL">
                                <td> <a target="_blank" href="{{uploadURL}}{{f.id}}">{{f.name}}</a></td>
                                <!--<td>      <textarea rows="2" ng-model="f.comment" placeholder="Enter Comment"></textarea>
                                </td>-->
                                <td>  <span class="glyphicon glyphicon-trash" ng-click="removeFiles($index, f.id, 'file')"></span></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="color-red" ng-show="errorMssg1">Please Wait.. Uploading the selected file.</div>
                    <span class="progress" ng-show="progress >= 0"></span>
                </div>
              <!--  <div class="sMessage">Successfully Employee is Update.</div>-->
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default m-right5 pull-right" ng-click="importData()" lang="en">
                <span class="glyphicon glyphicon-share"></span> Import to Excel
            </button>
        </div>
    </div>
</div>