<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">User Administration</span></li>
                <li class="breadcrumb-item active"><span lang="en">Employee Type List</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Employee Type List</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme">
                        <button class="btn btn-success pull-right" ng-click="addEmployeeModal()" lang="en">Add Employee Type</button>
                        <button class="btn btn-default m-right5 pull-right" ng-click="exportToExcel('#taskStateExcel')" lang="en">
                            <span class="glyphicon glyphicon-share"></span> Export to Excel
                        </button>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <table id="taskStateExcel" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                    <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="hover table table-bordered table-striped">
                        <thead>
                        <tr >
                            <th lang="en">Employee Type</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="employeeType in employeeTypesList">
                            <td class="text-capitalize">{{employeeType.name}}</td>
                            <td class="text-capitalize">{{employeeType.status}}</td>
                            <td>
                                    <button class="btn btn-primary" ng-click="editEmployeeTypeModal(employeeType)"><span class="glyphicon glyphicon-pencil"></span></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="addEmployeeType" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Employee Type</h4>
            </div>
            <form role="form" name="myform" ng-submit="addEmployeeType()">
                <div class="row schemForms">
                    <div class="modal-body">
                        <div ng-if="errorMessage" class="form-group text-center color-red col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            {{errorMessageData}} <hr class="m-tb10"/></div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label>Employee Type:</label>
                            <input type="text" placeholder="Enter Employee Type" class="form-control" ng-model="employeeType.name" required />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label>Status:</label>
                            <select ng-model="employeeType.status" data-style="btn-primary" data-placement="Select Plan ID" required>
                                <option value="" selected disabled>Select Status</option>
                                <option value="Active" selected>Active</option>
                                <option value="In Active">In Active</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="editEmployeeType" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Employee Type</h4>
            </div>
            <form role="form" name="myform" ng-submit="editEmployeeTypeButton()">
                <div class="row schemForms">
                    <div class="modal-body">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label>Employee Type:</label>
                            <input type="text" placeholder="Enter Employee Type" class="form-control" ng-model="editEmployeeTypeData.name" required />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label>Status:</label>
                            <select ng-model="editEmployeeTypeData.status" data-style="btn-primary" data-placement="Select Plan ID" required="">
                                <option value="" selected disabled>Select Status</option>
                                <option value="Active" selected>Active</option>
                                <option value="In Active">In Active</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="addEMPTypeSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <h4>Successfully '<b> {{employeeType.name}}</b> ' - Designation is Created.</h4>
            </div>
        </div>
    </div>
</div>

<div id="editEMPTypeSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully Employee Type is Updated.</div>
            </div>
        </div>
    </div>
</div>

<div id="emptyDataTable" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess">
                <div class="sMessage">No Data for Export</div>
            </div>
        </div>
    </div>
</div>