<section class="emp_reports">
    <div class="container">
        <div class="emp_head">
            <h3>govt. employee reports</h3>
        </div>
        <div  class="cntinfor">
            <h4>employee details</h4>
        </div>
        <div class="listofemp">
            <div class="empdetails">
                <ul>
                    <li class="name">name</li>
                    <li class="dot">:</li>
                    <li class="emp">emp full name</li>
                </ul>
            </div>
            <div class="empdetails">
                <ul>
                    <li class="name">position</li>
                    <li class="dot">:</li>
                    <li class="emp">MP - (LS)</li>
                </ul>
            </div>
            <div class="empdetails">
                <ul>
                    <li class="name">loksabha details</li>
                    <li class="dot">:</li>
                    <li class="emp">
                        <select class="">
                            <option>16th loksabha</option>
                            <option>15th loksabha</option>
                            <option>14th loksabha</option>
                        </select>
                    </li>
                </ul>
            </div>
            <div class="empdetails">
                <ul>
                    <li class="name">constituency name</li>
                    <li class="dot">:</li>
                    <li class="emp">2 - channi north</li>
                </ul>
            </div>
            <div class="empdetails">
                <ul>
                    <li class="name">party name</li>
                    <li class="dot">:</li>
                    <li class="emp">all india annadravida munnetra kazhagam(AIADMK)</li>
                </ul>
            </div>
            <div class="empdetails">
                <ul>
                    <li class="name">local address</li>
                    <li class="dot">:</li>
                    <li class="emp">no: 12/19 shanmugayan street<br>purasaiwalkam,channi<br>zipcode:6000008</li><br><br>
                </ul>
            </div>
            <div class="empdetails">
                <ul>
                    <li class="name">website URL</li>
                    <li class="dot">:</li>
                    <li class="emp">www.aiadmk.com</li>
                </ul>
            </div>
        </div>
    </div>
</section>
