<div ng-controller="payslipController">
    
    
<select id="country" class="form-control" style="width: 40%;margin-top: 20px;">
   <option value="" disabled="disabled" selected="selected">Select Month</option>
    <option value="march">March 2018</option>
    <option value="april">April 2018</option>    
</select>




      <div id="march" style="margin-top:30px">
          <img src="images/payslip_mar.jpg" style="width:100%" alt="march-payslip">
      </div>
      <div id="april" style="margin-top:30px">
            <img  src="images/payslip_apr.jpg" style="width:100%" alt="april-payslip">
      </div>

</div>