<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">Project Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Project TOR </span></li>
            </ol>
        </div>
    </div>
</div>

<div class="adminContent">
    <div class="">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span>Project TOR Report</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right" ng-show="showAction">
                            <button class="btn btn-default m-right5" lang="en">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#fieldVisitExcel')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                            <button class="btn btn-success" ng-click="addTORReportData()" lang="en">Add Project TOR Report</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <table id="fieldVisitExcel" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class=" col-lg-6  col-md-6 col-md-12 col-sm-12 col-xs-12">
                <div>
                    <h5 class="text-center" lang="en">Select OR Search Projects Details</h5>
                    <ui-select ng-change="selectPlanId($select.selected.planId)" ng-model="projectId" theme="selectize">
                        <ui-select-match placeholder="Select or Search projects Details">{{$select.selected.planId}}</ui-select-match>
                        <ui-select-choices repeat="proId in charterList | filter: $select.search">
                            <span ng-bind-html="proId.projectId | highlight: $select.search"></span>
                            <small ng-bind-html="proId.name | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class=" col-lg-6  col-md-6 col-md-12 col-sm-12 col-xs-12">
                <div>
                    <h5 class="text-center" lang="en">Select OR Search Projects TOR Details</h5>
                    <ui-select ng-change="selectTOR($select.selected.id)" ng-model="projectId" theme="selectize">
                        <ui-select-match placeholder="Select or Search projects Details">{{$select.selected.objective}}</ui-select-match>
                        <ui-select-choices repeat="proId in torDetailsList | filter: $select.search">
                            <span ng-bind-html="proId.objective | highlight: $select.search"></span>
                           <!-- <small ng-bind-html="proId.subTaskName | highlight: $select.search"></small>-->
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="taskDetails">
                 <!--   <div class="projectMain m-top20 m-btm20 table-responsive">
                        <div class="projectTile" lang="en">Plan Details</div>
                        &lt;!&ndash;<div class="projectName m-top20 m-btm20 text-center">Plan Details</div>&ndash;&gt;
                        <table class="table table-bordered nopadding">
                            <tr>
                                <td class="width160"><b lang="en">Plan ID</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.planId}}</td>
                                <td><b lang="en">Plan Name</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.name}}</td>
                            </tr>

                            <tr>
                                <td><b lang="en">Financial Year</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.financialYear}}</td>
                                <td><b lang="en">Applicant ID</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.applicantId}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Start Date</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.startDate}}</td>
                                <td><b lang="en">End Date</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.endDate}}</td>
                            </tr>
                            &lt;!&ndash;   {applicantId":"1ddsfsdf","startDate":"24-08-2016","endDate":"10-09-2016","estimationCost":"123213","utilizedCost":"123","status":"new","completePercentage":"0","createdPerson":"admin"}
                            &ndash;&gt;   <tr>
                            <td><b lang="en">Estimation Cost</b></td>
                            <td>:</td>
                            <td class="width20">{{selectProjectDetails.estimationCost}}</td>
                            <td><b lang="en">Utilized Cost</b></td>
                            <td class="width20">:</td>
                            <td>{{selectProjectDetails.utilizedCost}}</td>
                        </tr>
                            <tr>
                                <td><b lang="en">Task Status</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.taskStatus}}</td>
                                <td><b lang="en">Plan Status</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.palnStatus}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en"><span>%</span> Complete</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.completePercentage}}</td>
                                <td><b lang="en">Department</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.department}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Plan Description</b></td>
                                <td class="width20">:</td>
                                <td colspan="4">{{selectProjectDetails.description}}</td>
                            </tr>

                        </table>
                    </div>-->
                    <div class="projectMain m-top20 m-btm20 ">
                        <div class="projectTile" lang="en">Project Terms OF Reference(TOR) Details</div>
                        <div class="table-responsive projectInner">
                            <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" class="hover table table-bordered table-striped" id="">
                                <thead>
                                <tr>
                                    <th lang="en">Task Objective</th>
                                    <th lang="en">Client(Municipality) Inputs</th>
                                    <th lang="en">Expected Outcome/Results</th>
                                    <th lang="en">Created Person</th>
                                    <th lang="en">CV details</th>
                                  <!--  <th lang="en">Action</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                <tr >
                                    <td>{{taskDetails.objective}}</td>
                                    <td>{{taskDetails.inputData}}</td>
                                    <td>{{taskDetails.outputData}}</td>
                                    <td>{{taskDetails.createdPerson}}</td>
                                    <td> <li ng-repeat="f in taskDetails.documents">
                                        <a target="_blank" href="{{docUploadURL}}{{f._id}}">{{f.filename}}</a> <!--<span class="glyphicon glyphicon-trash" ng-click="deleteFile(f._id, $index)"></span>-->
                                    </li></td>
                                      <!--  <td> <button class="btn btn-primary" ng-click="editTORDetails(tor)"><span class="glyphicon glyphicon-pencil"></span></button></td>
                                  -->  </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="projectMain m-top20 m-btm20 ">
                        <div class="projectTile" lang="en">Project TOr Review Details</div>
                        <div class="table-responsive projectInner">
                            <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="hover table table-bordered table-striped" id="">
                                <thead>
                                <tr>
                                    <th lang="en">Reviewer Details</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="torData in torReportList" >
                                    <td colspan="4">
                                        <table class="table nopadding">
                                            <tr>
                                                <td class="width120"><b lang="en">Review Person Name</b>: <br />{{torData.createdPerson}}</td>
                                                <td class="width120"><b lang="en">Review Date</b>: <br />{{torData.reviewDate}}</td>

                                                <td><b lang="en">Comment</b>: <br />{{torData.comment}}</td>
                                                <td class="width20">
                                                    <button class="btn btn-primary" ng-if="torData.editDetails" data-toggle="tooltip" title="Edit Details" ng-click="editTORVisitors(torData)"><span class="glyphicon glyphicon-pencil"></span></button>
                                                </td>

                                                <td class="width20" data-toggle="tooltip" title="View Workflow Details"  >
                                                    <button class="btn btn-default" data-toggle="collapse" data-target="#demo-{{$index}}" class="accordion-toggle">
                                                        <span class="glyphicon glyphicon-eye-open"></span></button>
                                                </td>
                                                <td class="width20">
                                                    <!--data-toggle="modal" data-target="#approavlReport"-->
                                                    <!--data-toggle="modal" data-target="#rejectReport"-->
                                                    <button type="button" data-toggle="tooltip" title="Approve"  ng-if="torData.approveFiledVisit" ng-click="approvalModal(torData)" class="btn btn-success" >
                                                        <span class="glyphicon glyphicon-ok"  ></span>
                                                    </button>
                                                </td>
                                                <td class="width20">
                                                    <button type="button" ng-if="torData.approveFiledVisit" data-toggle="tooltip" title="Reject" ng-click="rejectModal(torData)"class="btn btn-danger" >
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="12" class="hiddenRow">
                                                    <div class="accordian-body collapse" id="demo-{{$index}}">
                                                        <table class="table">
                                                            <thead>
                                                            <tr>
                                                                <th lang="en">Workflow Id</th>
                                                                <th lang="en">Workflow Level</th>
                                                                <th lang="en">Level No</th>
                                                                <th lang="en">Status</th>
                                                                <th lang="en">Approval Person</th>
                                                                <th lang="en">Date</th>
                                                                <th lang="en">Comment</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-repeat="workflow in torData.workflow">
                                                                <td>{{workflow.workflowId}} </td>
                                                                <td>{{workflow.levelId}}  </td>
                                                                <td>{{workflow.levelNo}}  </td>
                                                                <td>{{workflow.approvalStatus}}  </td>
                                                                <td>{{workflow.employeeName}}  </td>
                                                                <td>{{workflow.date| date: "yyyy-MM-dd hh:mm:ss a"}}  </td>
                                                                <!-- <td>
                                                                     &lt;!&ndash;  <button>Approval</button>
                                                                   <button>Reject</button>&ndash;&gt;
                                                                     <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#approavlReport">Approval</button>
                                                                     <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#rejectReport">Reject</button>
                                                                 </td>-->
                                                                <td>{{workflow.comment}}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!--- fieldVisistReportEdit --->
<div id="createTORReport" class="modal fade" role="dialog">
    <div class="modal-dialog ">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Add Project TOR Report</h4>
            </div>
            <form role="form" class="" name="myform"  ng-submit="addTORReport()">

                <div class="modal-body">
                    <div class="schemForms">
                        <div class="row">
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label lang="en"><span class="color-red f-bold f-left">*</span>Review Date</label>:
                                <input ng-model="torReport.reviewDate" placeholder="Date Visit"  type="text"   ng-calendar format="%d-%m-%Y" readonly>
                            </div>
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label lang="en"><span class="color-red f-bold f-left">*</span>Comment</label>:
                                <textarea rows="5" ng-model="torReport.comment" placeholder="Enter comments"  draggable="false" required></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>
<!--- fieldVisistReportEdit --->


<div id="createProjectTOR" class="modal fade" role="dialog">
    <div class="modal-dialog ">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Create Project TOR</h4>
            </div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="createTORDetails()">
                <div class="modal-body">
                    <div class="row schemForms">
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Task Name</label>
                            <select ng-change="selectedTask(createTor.indexId)" ng-model="createTor.indexId" data-style="btn-primary" required>
                                <option value="">Select Task</option>
                                <option ng-repeat="task in subTaskList" value="{{$index}}">{{task.subTaskName}}-{{task.headerName}}</option>
                            </select>

                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Task Objective</label>:
                            <textarea rows="3" ng-model="createTor.comment" placeholder="Enter Description" required></textarea>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Task Start Date</label>:
                            <input type="text" ng-model="createTor.startDate" readonly required/>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Task End Date</label>:
                            <input ng-model="createTor.endDate"  type="text" readonly required/>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Client(Municipality) Inputs</label>:
                            <input  placeholder="Please enter inputs" ng-model="createTor.inputData" type="text" required/>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Expected Outcome/Results</label>:
                            <input  placeholder="Please enter Outcomes" ng-model="createTor.outputData"  type="text" required/>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Professional CVs Details</label>:
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Name</label>:
                            <input  placeholder="Please enter CV person name" ng-model="createTor.cvPersonName" type="text" required/>
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Upload CV </label>:
                            <button class="btn btn-success" ngf-select="uploadDocuments($files)" multiple ngf-accept="'application/pdf'">Upload CV</button>
                            <br>
                            <br>Files:
                            <ul>
                                <li ng-repeat="f in oldDocList">
                                    {{f.filename}}</span>
                                </li>
                            </ul>
                            <br>New Files:
                            <ul>
                                <li ng-repeat="f in docList">
                                    {{f.filename}} <span class="glyphicon glyphicon-trash" ng-click="deleteFile(f._id, $index)"></span>
                                </li>
                            </ul>
                            <span class="progress" ng-show="progress >= 0"></span>
                            <!--<div ng-bind="progress + '%'">

                            </div>-->
                        </div>

                        <!--<div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Review Commit Members</label>
                            <select ng-model="editFiledVisitDetails.level" data-style="btn-primary" required>
                                <option value="">Select Task</option>
                                <option ng-repeat="employee in getEmployeeList2" ng-selected="editFieldVisit.level" value="{{editFieldVisit.level}}">{{editFieldVisit.level}}</option>
                            </select>

                        </div>-->
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" lang="en">Submit</button>
                        <button type="button" ng-click="reset()" class="btn btn-info" lang="rn">Reset</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                    </div>
            </form>
        </div>
    </div>
</div>
</div>


<div id="editProjectTORReportModal" class="modal fade" role="dialog">
    <div class="modal-dialog ">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Project TOR</h4>
            </div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="torEditReportEdit()">

                <div class="modal-body">
                    <div class="schemForms">
                        <div class="row">
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label lang="en"><span class="color-red f-bold f-left">*</span>Review Date</label>:
                                <input ng-model="editTOR.reviewDate" placeholder="Date Visit"  type="text"   ng-calendar format="%d-%m-%Y" readonly>
                            </div>
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label lang="en"><span class="color-red f-bold f-left">*</span>Comment</label>:
                                <textarea rows="5" ng-model="editTOR.comment" placeholder="Enter comments"  draggable="false" required></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="submit" class="btn btn-success" lang="en">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="approavlReport" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Approve Project TOR Report</h4>
            </div>

            <form role="form" class="" name="myform" class="adminContent" ng-submit="approvalData()">
                <div class="modal-body">
                    <div class="row schemForms">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Comment</label>
                            <textarea rows="5" ng-model="comments.comment" placeholder="Enter Approval Comment" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Approve</button>
                    <button  type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="rejectReport" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Reject Project TOR Report</h4>
            </div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="rejectData()">
                <div class="modal-body">
                    <div class="row schemForms">

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Reject Comment</label>
                            <textarea rows="5" ng-model="comments.comment" placeholder="Enter Reject Description" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Reject</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="editProjectTorReportSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage"> Project TOR edited  successfully</div>
            </div>
        </div>
    </div>
</div>
<div id="errorMessageDisplay" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body color-green text-center modalSuccess">
                <div class="sMessage">Successfully Plan TOR is Updated.</div>
            </div>
        </div>
    </div>
</div>