<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">Project Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Project Milestone</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Project Milestone</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right" ng-show="showAction">
                            <button class="btn btn-default m-right5"  lang="en">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#projectMilestoneExcel')"  lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                            <button class="btn btn-success" data-toggle="modal" data-target="#createProjectMilestone"  lang="en">Create Project Milestone</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>
            <table id="projectMilestoneExcel" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-md-12 col-sm-12 col-xs-12">
                <div>
                    <h5 class="text-center"  lang="en">Select OR Search Projects Details</h5>
                    <ui-select ng-change="selectareas($select.selected.planId)" ng-model="projectId" theme="selectize">
                        <ui-select-match placeholder="Select or Search projects Details">{{$select.selected.planId}}</ui-select-match>
                        <ui-select-choices repeat="proId in charterList | filter: $select.search">
                            <span ng-bind-html="proId.projectId | highlight: $select.search"></span>
                            <small ng-bind-html="proId.name | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="selectProjectDetails">


                    <div class="projectMain m-top20 m-btm20 table-responsive">
                        <div class="projectTile"  lang="en">Plan Details</div>
                        <table class="table table-bordered nopadding">
                            <tr>
                                <td class="width160"><b  lang="en">Plan ID</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.planId}}</td>
                                <td><b  lang="en">Plan Name</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.name}}</td>
                            </tr>

                            <tr>
                                <td><b  lang="en">Financial Year</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.financialYear}}</td>
                                <td><b  lang="en">Applicant ID</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.applicantId}}</td>
                            </tr>
                            <tr>
                                <td><b  lang="en">Start Date</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.startDate}}</td>
                                <td><b  lang="en">End Date</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.endDate}}</td>
                            </tr>
                            <!--   {applicantId":"1ddsfsdf","startDate":"24-08-2016","endDate":"10-09-2016","estimationCost":"123213","utilizedCost":"123","status":"new","completePercentage":"0","createdPerson":"admin"}
                            -->   <tr>
                            <td><b  lang="en">Estimation Cost</b></td>
                            <td>:</td>
                            <td class="width20">{{selectProjectDetails.estimationCost}}</td>
                            <td><b  lang="en">Utilized Cost</b></td>
                            <td class="width20">:</td>
                            <td>{{selectProjectDetails.utilizedCost}}</td>
                        </tr>
                            <tr>
                                <td><b  lang="en">Task Status</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.taskStatus}}</td>
                                <td><b  lang="en">Paln Status</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.palnStatus}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en"><span>% </span>Complete</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.completePercentage}}</td>
                                <td><b  lang="en">Department</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.department}}</td>
                            </tr>
                            <tr>
                                <td><b  lang="en">Plan Description</b></td>
                                <td class="width20">:</td>
                                <td colspan="4">{{selectProjectDetails.description}}</td>
                            </tr>

                        </table>
                    </div>
                    <div class="projectMain m-top20 m-btm20 ">
                        <div class="projectTile" lang="en">Project Milestone Details</div>
                        <div class="table-responsive projectInner">
                            <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="hover table table-bordered table-striped" id="">
                                <thead>
                                <tr>
                                    <th lang="en">Visitor Details</th>
                                </tr>
                                </thead>
                                <tbody>
                                     <!--{{paymentMilestoneList}}-->

                                <tr ng-repeat="paymentMilestone in paymentMilestoneList" >
                                    <td colspan="4">
                                        <table class="table nopadding">
                                            <tr>
                                                <td class="width120"><b lang="en">Project Milestone Name</b>: <br />{{paymentMilestone.milestoneName}}</td>
                                                <td class="width120"><b lang="en">Description</b>: <br />{{paymentMilestone.description}}</td>
                                                <td class="width120"><b lang="en">Expected Date</b>: <br />{{paymentMilestone.expectedDate}}</td>
                                                <!--<td class="width120"><b lang="en">Description</b>: <br />{{paymentMilestone.visitedDate}}</td>-->

                                                <td><b lang="en">Comment</b>: <br />{{paymentMilestone.comment}}</td>
                                                <td class="width20">
                                                    <button class="btn btn-primary" ng-if="paymentMilestone.editDetails" data-toggle="tooltip" title="Edit Details" ng-click="editProjectMilestone(paymentMilestone)"><span class="glyphicon glyphicon-pencil"></span></button>
                                                </td>

                                                <td class="width20" data-toggle="tooltip" title="View Workflow Details"  >
                                                    <button class="btn btn-default" data-toggle="collapse" data-target="#demo-{{$index}}" class="accordion-toggle">
                                                        <span class="glyphicon glyphicon-eye-open"></span></button>
                                                </td>
                                                <td class="width20">
                                                    <button type="button" data-toggle="tooltip" title="Approve"  ng-if="paymentMilestone.approveFiledVisit" ng-click="approvalModal(paymentMilestone)" class="btn btn-success" >
                                                        <span class="glyphicon glyphicon-ok"  ></span>
                                                    </button>
                                                </td>
                                                <td class="width20">
                                                    <button type="button" ng-if="paymentMilestone.approveFiledVisit" data-toggle="tooltip" title="Reject" ng-click="rejectModal(paymentMilestone)"class="btn btn-danger" >
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="12" class="hiddenRow">
                                                    <div class="accordian-body collapse" id="demo-{{$index}}">
                                                        <table class="table">
                                                            <thead>
                                                            <tr>
                                                                <th lang="en">Workflow Id</th>
                                                                <th lang="en">Workflow Level</th>
                                                                <th lang="en">Level No</th>
                                                                <th lang="en">Status</th>
                                                                <th lang="en">Approval Person</th>
                                                                <th lang="en">Date</th>
                                                                <th lang="en">Comment</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-repeat="workflow in paymentMilestone.workflow">
                                                                <td>{{workflow.workflowId}} </td>
                                                                <td>{{workflow.levelId}}  </td>
                                                                <td>{{workflow.levelNo}}  </td>
                                                                <td>{{workflow.approvalStatus}}  </td>
                                                                <td>{{workflow.employeeName}}  </td>
                                                                <td>{{workflow.date| date: "yyyy-MM-dd hh:mm:ss a"}}  </td>
                                                                <td>{{workflow.comment}}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>


<div id="approavlReport" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Approve Project Milestone Report</h4>
            </div>

            <form role="form" class="" name="myform" class="adminContent" ng-submit="approvalData()">
                <div class="modal-body">
                    <div class="row schemForms">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Comment</label>
                            <textarea rows="5" ng-model="comments.comment" placeholder="Enter Approval Comment" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Approve</button>
                    <button  type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="rejectReport" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Reject Project Milestone Report</h4>
            </div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="rejectData()">
                <div class="modal-body">
                    <div class="row schemForms">

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Reject Comment</label>
                            <textarea rows="5" ng-model="comments.comment" placeholder="Enter Reject Description" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Reject</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>



<div id="createProjectMilestone" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"  lang="en">Create Project Milestone</h4>
            </div>
            <form role="form" class="" name="myform"  ng-submit="createPaymentMilestone()">
                <div class="modal-body">
                    <div class="schemForms row">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Project Milestone Name</label>:
                            <input ng-model="paymentMilestone.milestoneName" placeholder="Project Milestone Name" type="text" required/>

                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span> Project Milestone Description</label>:
                            <textarea rows="3" ng-model="paymentMilestone.description" placeholder="Enter Description" required></textarea>

                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Expected Date</label>:
                            <input  placeholder="Expected Date" type="text" ng-calendar ng-model="paymentMilestone.expectedDate" format="%d-%m-%Y" readonly>
                        </div>

                     <!--   <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Project Milestone Status</label>:
                            <select  ng-model="paymentMilestone.status" required>
                                <option value="">Select Project Milestone Status</option>
                                <option>Active</option>
                                <option>In Active</option>

                            </select>
                        </div>-->

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span> Comment</label>
                            <textarea rows="3" ng-model="paymentMilestone.comment" placeholder="Enter Comment" required></textarea>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="Submit" class="btn btn-success" lang="en">Submit</button>
                    <button type="reset" class="btn btn-info" lang="en">Reset</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="editProjectMilestone" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Project Milestone</h4>
            </div>
            <form role="form" class="" name="myform"  ng-submit="editProjectMilestoneDetails()">
                <div class="modal-body">
                    <div class="schemForms row">

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Project Milestone Name</label>:
                            <input ng-model="editMilestoneId.milestoneName" placeholder="Project Milestone Name" type="text" required/>

                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Project Milestone Description</label>
                            <textarea rows="5" ng-model="editMilestoneId.description" placeholder="Enter Description" required></textarea>
                        </div>

                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Expected Date</label>:
                            <input placeholder="Expected Date" type="text" ng-calendar ng-model="editMilestoneId.expectedDate" format="%d-%m-%Y" readonly>
                        </div>


                      <!--  <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Project Milestone Status</label>:
                            <select  ng-model="editMilestoneId.status" required>
                                <option value="">Select Project Milestone Status</option>
                                <option>Active</option>
                                <option>In Active</option>

                            </select>
                        </div>-->

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Comment</label>
                            <textarea rows="5" ng-model="editMilestoneId.comment" placeholder="Enter Comment" required></textarea>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Update</button>
                    <!--<button type="reset" class="btn btn-info" lang="en">Reset</button>-->
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="viewProjectMilestone" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">View Project Milestone Details</h4>
            </div>
                <div class="modal-body">

                    <table class="table table-bordered table-striped table-hover">
                        <tr>
                            <th class="width200" lang="en">Project Milestone Name</th>
                            <td class="width20">:</td>
                            <td>{{viewMilestoneId.milestoneName}}</td>
                        </tr>
                        <tr>
                            <th  lang="en">Project Milestone Description</th>
                            <td class="width20">:</td>
                            <td>{{viewMilestoneId.description}}</td>
                        </tr>
                        <tr>
                            <th  lang="en" >Expected Date</th>
                            <td class="width20">:</td>
                            <td>{{viewMilestoneId.expectedDate}}</td>
                        </tr>
                        <tr>
                            <th  lang="en">Project Milestone Status</th>
                            <td class="width20">:</td>
                            <td>{{viewMilestoneId.status}}</td>
                        </tr>
                        <tr>
                            <th  lang="en">Comment</th>
                            <td class="width20">:</td>
                            <td>{{viewMilestoneId.comment}}</td>
                        </tr>
                        <tr>
                            <th  lang="en">Created Person</th>
                            <td class="width20">:</td>
                            <td>{{viewMilestoneId.createdPerson}}</td>
                        </tr>
                        <tr>
                            <th  lang="en">Created Time</th>
                            <td class="width20">:</td>
                            <td>{{viewMilestoneId.createdTime}}</td>
                        </tr>
                        <tr>
                            <th  lang="en">Updated Time</th>
                            <td class="width20">:</td>
                            <td>{{viewMilestoneId.updatedTime}}</td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="editProjectMilestone(viewMilestoneId)">Edit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
        </div>

    </div>
</div>

<div id="createProjectMilestoneSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully -' <b>{{paymentMilestone.milestoneName}}</b> ' is Created.</div>
            </div>
        </div>
    </div>
</div>

<div id="editProjectMilestoneSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully Project Milestone is Updated.</div>
            </div>
        </div>
    </div>
</div>