<div class="container-fluid" style="background:#f6f7f9;min-height: 430px;" >
    <div class="col-lg-offset-2 col-lg-8 col-lg-offset-2" style="padding:10px;margin-bottom:30px">
        <h3>Raise a Complaint</h3>


        <div style="background:#e84c3d;">
            <h3 style="padding: 6px;font-size: 20px;color: white;">Complaint Details</h3>
        </div>



        <div style="border:1px solid #ddd;padding: 10px;margin-top: -10px;background: white;">
            <div class="row">


                <div class="col-lg-12 m-top10">
                    <input type="text" class="form-control width98" placeholder="Full Name">
                </div>

                <div class="col-lg-12 m-top10">
                    <input type="text" class="form-control width98" placeholder="Employee Number">
                </div>


                <div class="col-lg-12 m-top10">
                    <select class="form-control width98">
                        <option>Type of Complaint</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>



                <div class="col-lg-12 m-top10  m-btm10">
                    <label>Description</label>
                    <textarea style="height: 200px;" class="form-control width98" placeholder="Enter Here"></textarea>
                </div>

                <div class="col-lg-12 btn_p m-btm10">
                    <button style="padding: 6px 30px;" class="btn grievance_btn">Submit</button>&emsp;
                    <button class="btn cancel_btn">Cancel</button>
                </div>

            </div>
        </div>


    </div>
</div>